.btn-outline-primary {
  border-color: #ff9505;
  background: none;
  color: #ff9505;
  border-radius: 8px;
}

.btn-outline-secondary {
  border-color: #ff9505;
  background: none;
  color: #fffbfb;
  border: 1.5px solid rgba(255, 251, 251, 0.35);
  border-radius: 8px;
}

.btn-filled-primary {
  background: #fffbfb;
  border-radius: 8px;
  color: #1b1b1b;
  display: "flex";
  justify-content: center;
  gap: "24px";
  svg {
    margin-left: 10px;
  }
}
.btn-card-full {
  min-width: 100%;
  button {
    min-width: 33%;
    border: 1px solid rgba(255, 251, 251, 0.35);
    background: transparent;
    color: rgba(255, 251, 251, 0.65);
  }
}
