@import "./buttons.scss";
@import "./swiper.scss";

.banner-home-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;

  letter-spacing: 0.03em;
  color: #fffbfb;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @media screen and (max-width: 768px) {
  }
  .banner-home-span {
    color: #ff9505;
    @media screen and (max-width: 768px) {
    }
  }
}

.custom-map-container {
  background: #f1f1f1;
  .nextui-navbar-container {
    padding: 0 !important;

    background: #f1f1f1;
  }
  .button-active {
    background: #fffbfb;
    border-radius: 8px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 139.52%;
    color: #1b1b1b;
    border-right: 1px solid #e6e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    img {
      width: auto;
      height: 24px;
      object-fit: contain;
      object-position: center;
      fill: "#1b1b1b";
    }
    p {
      padding-left: 8px;
      color: #1b1b1b;
    }
  }
  .button-deactive {
    background: #f1f1f1;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 139.52%;
    color: rgba(27, 27, 27, 0.55);
    border-right: 1px solid #e6e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    img {
      width: auto;
      height: 24px;
      object-fit: contain;
      object-position: center;
      fill: rgba(27, 27, 27, 0.55);
    }
    p {
      padding-left: 8px;
      color: rgba(27, 27, 27, 0.55);
    }
  }
}

.text-footer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: rgba(255, 255, 255, 0.8);
}

.text-footer-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 158.52%;
  color: #fffbfb;
}
.text-contact-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;

  &.white {
    color: #fffbfb;
  }
  &.gold {
  }
}
.title-about-us {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;

  color: #ff9505;
}
.subtitle-about-us {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fffbfb;
}

.custom-footer {
  margin: "0px";
  height: "311px";
  display: "flex";
  flex-direction: "column";
  width: "100%";
  @media screen and (max-width: 768px) {
    height: "580px";
  }
}
